name: "Terraform_Automation"

on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.6.3

      - name: Deploy Infrastucture
        env: 
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID_AM }}
          ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET_AM }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID_AM }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID_AM }}
    
        run: |
          cd ${{ github.workspace }}/Strapi
          terraform init --upgrade
          terraform plan
          terraform apply -auto-approve
